.header__decoration-line {
  max-width:  882px;
  height: 0;
  margin: 2.6rem auto 0;
  opacity: .7;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 475px) {
  .header__decoration-line {
    margin: 1.9rem auto 0;
  }
}
