.popup__save-button {
  width: 83%;
  height: 50px;
  margin: 2.5em auto 2em;
  padding: 0;
  font-size: 1.28em;
  line-height: 1.22;
  font-weight: normal;
  background-color: black;
}

.popup__save-button:hover {
  opacity: .8;
}

.popup__save-button:focus {
  outline: 3px solid rgba(99, 196, 20, 0.5);
}
