.profile__button_type_edit {
  width: 1.71rem;
  height: 1.71rem;
  margin-top: 1.2rem;
  background-image: url(../../../../images/edit.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: button;
  align-self: center;
  border: 1px solid #fff;
}

@media screen and (max-width: 900px) {
  .profile__button_type_edit {
    margin-top: 0;
  }
}

@media screen and (max-width: 475px) {
  .profile__button_type_edit {
    width: 1.28rem;
    height: 1.28rem;
    background-size: 8px 8px;
  }
}
